<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_telaavaliacao.css') }}">
    
</head>
<body>
    <header>
        <div class="header">
            <h1>Header</h1>
            </div>
    </header>
    <div>

        {% for itens in alunos %}
            <details>
                 <summary>{{itens.nome}}</summary>
                {% for pergunt in perguntas %}
                    <ul>
                        <il>{{pergunt.pergunta_}}</il>
                        <ul>
                        <li >Extramamente <input type="radio" name="{{itens.nome}}{{pergunt.name}}"></li>
                        <li >Muito <input type="radio" name="{{itens.nome}}{{pergunt.name}}"></li>
                        <li >Pouco <input type="radio" name="{{itens.nome}}{{pergunt.name}}"></li>
                        <li >Nada <input type="radio" name="{{itens.nome}}{{pergunt.name}}"></li>
                        </ul>
                    </ul>
                {% endfor %}
            </details>
        {% endfor %}
    </div>


</body>
<div>
            <button class="enviarbutton">
                <a href="/aluno/notas">ENVIAR
                </a>
            </button>
            </div>
</html>