<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static', filename= 'login.css')}}">

    <title>Login</title>
</head>
<body>
    <div class = "main-login">
        <div class="card-login">
            <div class="fotologo">
                <img src="https://i.imgur.com/ojSRbhn.png">
            </div>
            <div class="campousuario">
                <input type="text" name="usuario" placeholder="E-mail">
            </div>
            <div class="camposenha">
                <input type="password" name="senha" placeholder="Senha">
            </div>
            <div class="instrucoes">
                <h6>Ao clicar em entrar, ou ao continuar com as outras opções abaixo, você concorda com os Termos de serviço e confirma que leu a Política de privacidade do Pythonators Database.</h6>
            </div>
            <div>
            <button class="loginbutton">
                <a href="/aluno/avaliacao">ENTRAR
                </a>
            </button>
            </div>
        </div>
    </div>
</body>
</html>