<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint</title>
    <link rel= "stylesheet" href= "{{ url_for('static', filename= 'style.css')}}">

</head>
<body>

<h1>   SELECIONE SUA SPRINT</h1>

<div1 class="box">
    <img src="BUTTON01.png"/>
    <span> DISPONÍVEL A PARTIR DE 29/08/2022 ATÉ 18/09/2022 </span>
</div1>
<div2 class="box">
    <img src="BUTTON02.png"/>
    <span> DISPONÍVEL A PARTIR DE 19/09/2022 ATÉ 09/10/2022 </span>
</div2>
<div3 class="box">
    <img src="BUTTON03.png"/>
    <span> DISPONÍVEL A PARTIR DE 17/10/2022 ATÉ 06/11/2022 </span>
</div3>
<div4 class="box">
    <img src="BUTTON04.png"/>
    <span> DISPONÍVEL A PARTIR DE 07/11/2022 ATÉ 27/11/2022 </span>
</div4>


<style>
div.box {
	width: 250px;
    height: 400px;
	display: inline-block;
}
</style>
