<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <meta charset='utf-8'>
    <title>Cadastro de pessoas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container-sm">
    <div class="row">
      <h1>Cadastrar Pessoas</h1>
  <div class="col-4">
    <form action="{{pessoa[0]['id']}}" method="POST">
        <div class="mb-3">
          <label for="id" class="form-label">Id</label>
          <input type="text" class="form-control" id="id" 
          name = "id"
          value='{{pessoa[0]["id"]}}'
          readonly>
          </div>
        <div class="mb-3">
          <label for="cargo" class="form-label">Cargo</label>
          <input type="text" class="form-control" id="cargo" 
          name=cargo
          value='{{pessoa[0]["cargo"]}}'>
        </div>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" 
            name="nome" value='{{pessoa[0]["nome"]}}'>
          </div>
          <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario" 
            name="usuario" value='{{pessoa[0]["usuario"]}}'>
          </div>
          <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="text" class="form-control" id="senha" 
            name="senha" value='{{pessoa[0]["senha"]}}'>
          </div>
          <div class="mb-3">
            <label for="funcao" class="form-label">Função</label>
            <input type="text" class="form-control" id="funcao" 
            name="funcao" value='{{pessoa[0]["funcao"]}}'>
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">Time</label>
            <input type="text" class="form-control" id="time" 
            name="time" value='{{pessoa[0]["time"]}}'>
          </div>
        <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-clockwise"> </i>Atualizar</button>
      </form>
      </div>
    </div>
  </div>
  </body>
</html>


