{% extends 'admin.html' %}

{% block conteudo %}
<body>
    <div class="content">
      <div class="card-body">
        <h1>Cadastro de Times</h1>
        <hr>
        <form style="width: 20rem;" action="cadastrartimes" method="POST">
          <div class="form-floating mb-3">
      </div>
        <div class="form-floating mb-3">
              <select class="form-select" name="turma" type="text" aria-label="TURMA"  style="background-color:#ADACB5;"  id="turma">
                  {% for s in turmas%}
                <option selected>{{s.sala}}</option>
                  {%endfor%}
              </select>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control"  id="nome_time" name="nome_time" style="background-color:#ADACB5; " nome_completo="floatingInput" placeholder="NOME DO TIME"required>
            <label for="floatingInput">NOME DO TIME</label>
        </div>
      <div>
          <button type="submit" name="Enviar" class="btn btn-primary">Cadastrar</button>
        </div></form>
      </div>
    </div>
    <hr>
    <h1>Times cadastrados</h1>
    <table class="table">
      <tr>
        <th>id</th>
        <th>turma</th>
        <th>nome_time</th>
       </tr>
      {% for contato in result %}
      <tr>
        <td>{{contato.id}}</td>
        <td>{{contato.turma}}</td>
        <td>{{contato.nome_time}}</td>
        <td><a class="btn btn-danger" href='/deletar/time/{{contato["id"]}}'>
          <i class="bi bi-trash"> </i>Deletar</a>
          <a href='/atualizar/time/{{contato["id"]}}'class="btn btn-secondary">
            <i class="bi bi-arrow-clockwise"> </i>Atualizar</a></td>
      </tr>
      {% endfor %}

    </table>
    <div class="opacMenu"></div>
{% endblock %}