<html>
  <head>
    <meta charset="UTF-8">
    <title>Document title</title>
    <script src="script/script.js"></script>
    <!--    https://fontawesome.com/   -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_admin.css') }}">


  </head>

  <body>
      <header>
         <label class="labelMenu"><i class="fa fa-bars"></i></label>
      </header>

    <div class="menu">
      <nav>

        <details>
          <summary id="cabecalho">Salas</summary>
          {% for s in salas %}
          <ul id="listaSalas">
            <li>
              <a href='/admin/{{s["sala"]}}' class="btn btn-secondary">
                <i class="bi bi-arrow-clockwise" id="sala" nome="sala"> </i>{{s.sala}}</a></td>   
            </li>
          </ul>
          {% endfor %}
          <form  action="addSalas" method="POST">
          <input type="text" class="form-control" name="sala" id="floatingInput" placeholder="Sala" id="sala">
            <button type="submit" name="23" class="btn btn-primary">Cadastrar</button>
          </form>
        </details>

        
        <a href="">
          <a href="/admin">Sair</a>
        </a>
      </nav>
    </div>
  </body>
  {% block conteudo %}
  {% endblock %}  
    <!--  Jquery and Bootstrap  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

      $(document).ready
      (
        function()
        {
          $('.labelMenu').click
          (
            function()
            {
               $('.menu').css('left', 0);
               $('.opacMenu').fadeIn();
            }
          )

          $('.opacMenu').click
          (
            function()
            {
               $('.menu').css('left', '-205px');
               $('.opacMenu').fadeOut();
            }
          )
        }
      )
    </script>
  </body>
</html>
