<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <script src="script/script.js"></script>
    <!--    https://fontawesome.com/   -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_avaliacao.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>

<!-- BARRA SUPERIOR-->
    <!--  começo do flashcard-->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <!--fim flashcard, FAVOR, PERSONALIZAR! Fonte: https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->
    <nav class="navbar " id="barraSuperior">
      <div class="container-fluid" id="barraSuperior">
        <span class="intername" >{{session['usuario_logado']}}</span>
       
    
        <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="OBotao">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    
            <div class="modal true" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" id="menuInter">
                    <h5 class="modal-title">MENU</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
            
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a style="text-decoration:none; color:#2D3142" href="/aluno/avaliacao">Avaliar</a></li>                  
                      <li class="list-group-item"><a style="text-decoration:none; color:#2D3142" href="/dashboard">Visualizar suas notas</a></li>
                      <li class="list-group-item" ><a style="text-decoration:none; color:red" href="/logout">SAIR</a></li>
                    </ul>
            
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="container text-center"></div>
      </body>
      {% block conteudo %}
      {% endblock %}  
    <h1>REALIZAR AVALIAÇÕES</h1>
<!--    <input  type=text name="aaa" value="Funciona por favor">Funciona por favor</input>-->
<!--    <button type="submit">ENVIAR</button>-->
    <div class = "centralizar">       
        {% for itens in alunos%}
        
            <details>           
                <div class="scrollbar" id="style-4">
                    <div class="force-overflow"></div>                  
                </div>
                     <summary>{{itens}}</summary>       
                {% for pergunt in perguntas %}
                    <ul>
                        <il>{{pergunt.pergunta_}}</il>
                        <form action="/aluno/notas" method="POST">
                        <ul>
<!--                        <li >Extramamente -->
                                <input type="radio" value="5" name="{{itens}}{{pergunt.name}}"required>Extremamente</input>
    <!--                            </li>-->
    <!--                        <li >Muito -->
                                <input type="radio" value= '4' name="{{itens}}{{pergunt.name}}"required>Muito</input>
    <!--                        </li>-->
    <!--                        <li >médio -->
                                <input type="radio" value='3' name="{{itens}}{{pergunt.name}}"required> Médio</input>
    <!--                            </li>-->
    <!--                        <li >pouco -->
                                <input type="radio" value='2' name="{{itens}}{{pergunt.name}}"required>Pouco</input>
    <!--                            </li> nada-->
                                <input type="radio" value='1' name="{{itens}}{{pergunt.name}}"required>Nada</input>
    <!--                            </li>-->
                        </ul>

</ul>
                {% endfor %}
                <textarea rows="8" cols="50" name="justificativa" id="coment" maxlength="3000"></textarea>

                <br>
            </details>
        {% endfor %}
        <button type="submit">ENVIAR AVALIAÇÕES</button>
</form>
    </div>
</body>
<!--<script>-->
<!--    var buttonSub = document.querySelector('button')-->
<!--    buttonSub.addEventListener('click',enviar)-->
<!--    var y = document.querySelectorAll('input')-->
<!--    var z  = document.querySelectorAll('summary')-->
<!--    b = []-->

<!--    function enviar(){-->

<!--        for(d=0; d < z.length;d++){-->
<!--            //console.log(z[d].getAttribute('id'))-->
<!--            b.push(z[d].getAttribute('id')) //array de nomes-->
<!--            console.log(b[d])-->
<!--             }-->
<!--        for(a=0; a < y.length;a++){-->

<!--                if(y[a].checked){-->
<!--                //-->
<!--                for(h=0; h < b.length;h++){-->
<!--                if(b[h] == y[a].getAttribute('id')){-->
<!--                console.log(b[h]+y[a].value)-->
<!--                }-->
<!--        }-->
<!--        }-->

<!--        }-->



<!--    }-->
<!--</script>-->

</html>