<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint</title>
    <link rel= "stylesheet" href="style.css" />

</head>

<body style="background-color:#D8D5DB">

    <div class="barrasuperior">

        </div>

<h1> </h1>

<!–botão 1 e texto embaixo–>
<div1 class="box1">
    <a href="/">
        <button class="btn-pri">Você finalizou sua avaliação <br> Obrigado! </button>
    </a>