<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Turmas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_avaliacao.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
        <div class="barrasuperior">
            <div class="nomeadm">
                <h3>{{session['usuario_logado']}}</h3></div>
            </div>

    <h1>AVALIE SEUS ALUNOS</h1>
    <div class = "centralizar">
        {% for itens2 in alunos_turma%}
            <details>
                 <summary>PO: {{itens2}}</summary>
            </details>
        {%endfor%}

        {% for itens in alunos_turma2%}
            <details>
                 <summary>SCRUM MASTER: {{itens}}</summary>
                 {% for pergunt in perguntas %}
                    <ul>
                        <il>{{pergunt.pergunta_}}</il>
                        <form action="/aluno/notas" method="POST">
                        <ul>
<!--                        <li >Extramamente -->
                                <input type="radio" value="Extremamente" name="{{itens.nome}}{{pergunt.name}}"required>Extremamente</input>
    <!--                            </li>-->
    <!--                        <li >Muito -->
                                <input type="radio" value= 'Muito' name="{{itens.nome}}{{pergunt.name}}"required>Muito</input>
    <!--                        </li>-->
    <!--                        <li >médio -->
                                <input type="radio" value='médio' name="{{itens.nome}}{{pergunt.name}}"required> médio</input>
    <!--                            </li>-->
    <!--                        <li >pouco -->
                                <input type="radio" value='pouco' name="{{itens.nome}}{{pergunt.name}}"required>pouco</input>
    <!--                            </li> nada-->
                                <input type="radio" value='Nada' name="{{itens.nome}}{{pergunt.name}}"required>Nada</input>
    <!--                            </li>-->
                        </ul>

</ul>
                {% endfor %}
            </details>
        {%endfor%}
                <br>
        <button type="submit">ENVIAR AVALIAÇÕES</button>
</form>
    </div>
</body>
</html>