<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Turmas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_telaavaliacao.css') }}">

</head>
<body>
    <header>
        <div class="header">
            <h1>Avalie seus alunos</h1>
                </div>
    </header>

        {% for itens2 in alunos_turma%}
            <details>
                 <summary>PO: {{itens2}}
                     </summary>


            </details>
        {% endfor %}

        {% for itens in alunos_turma2%}
            <details>
                 <summary>SCRUM MASTER: {{itens}}</summary>
            </details>
        {%endfor%}

</body>
</html>